.input-info {
    max-width: 300px;
}

.input-txt{
    border: 5px solid #2660AA !important;
    border-radius: 8px !important;
}

label{
    padding-left: 10px;
    font-size: 24px !important;
    line-height: 29px;
    color: #C6C6C6 !important;
}

button{
    width: 213px;
    font-size: 24px !important;
    height: 43px;
    text-transform: none !important;
}