.videos h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.videos h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.upcoming h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
.upcoming h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
.upcoming {
  margin-bottom: 100px;
}
.buttom {
  display: block;
  height: 300px;
}
